# cualquier carpeta iniciada en '.'
.[a-z]/*

# Visual Studio
.vscode
.vscode/*
.vscode/settings.json

# Python
*_pycache_*
*/_pycache_
_pycache_/*
*/_pycache_/*
.pyc
.sqlite3

# Logger
.log
.xls
Logs/*
